[Unit]
Description=Piscine Controller (.NET 10 AOT)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=klm
WorkingDirectory=/home/klm/pool
ExecStart=/home/klm/pool/PiscineController
Restart=always
RestartSec=5s
KillSignal=SIGTERM
TimeoutStopSec=15s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=PiscineController

[Install]
WantedBy=multi-user.target
